<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>resetoil.cf</title>
    <link rel="icon" href="data:,">
    <style>
      body {
        max-width: 468px;
        margin: auto;
        padding: 30px 0px;
      }
      .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
      }
      ul {
        line-height: 120%;
      }
    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>
